<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRzEw-wNT_Es64mjXj1O4EIgu9Qeg1jNg</string>
	<key>GCM_SENDER_ID</key>
	<string>809147543426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notes-122f6</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-122f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809147543426:ios:b712a9e484a5b77c0ca99b</string>
	<key>DATABASE_URL</key>
	<string>https://notes-122f6-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>